[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
peewee = "*"
pymysql = "*"
termcolor = "*"
flask-restful = "*"
arrow = "*"
cryptography = "*"
protobuf = "==3.6.0"

[dev-packages]

[requires]
python_version = "3.6"
